/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/* Aplicar la fuente Playfair Display a todo el proyecto */
body {
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}

.liga, .liga-heroe, .liga-tab {
    text-decoration: none;
    color: #9b51e0;
}

.liga-heroe:hover {
    text-decoration: none;
}

.liga-tab {
    color: #9b51e0;
}

a:hover {
    color: #e94e1d !important;
}

.nav .active {
    color: #e94e1d !important;
}

.material-symbols-outlined, .material-symbols-outlined-heroe {
    font-family: 'Material Symbols Outlined';
    font-weight: 100;
    font-style: normal;
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: text-top;
}

.material-symbols-outlined-heroe {
    font-size: 24px;
}

.txt-justify {
    text-align: justify;
}

.x-shadow {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    border-radius: 10px;
}

/* etiquetas */
#entity-span {
    position: relative;
    background-color: #9b51e0;
    color: white;
    /* font-size: 0.9em; */
    position: relative;
    /* padding: 5px; */
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    border-radius: 10px;
}

#entity-tag {
    position: absolute;
    top: -15px;
    left: 0;
    font-size: 0.7em;
    padding: 2px 5px;
    white-space: nowrap;
}

.txt-example {
    line-height: 30px !important;
}